/* General Styling */

:root{

--backgroundColor: #1f1d4a;
--navBackground: #293132;
--navText: #f3f3f3;
--navHover: #50D8D7;

}

*{
  font-family: century gothic;
  width: auto;
}

body{
  background-color: var(--backgroundColor);
}

/* styling the nav bar for desktop */

a{
  color: var(--navText);
  text-decoration: none;
}
a:hover{
  transition: 0.5s all ease;
  color: var(--navHover);
}

header{
  color: var(--navText);
  font-size: 150%;
  text-align: center;
  width: 100%;
}
header  h1{
    padding: 2px;
}

header ul{
  list-style: none;
}
header li{
  padding: 4%;
  text-align: center;
  display: inline;
}

/* styling the main body of the pages */
#welcomeMSG{
  text-align: center;
  font-size: 150%;
  background: var(--navText);
  color: var(--navBackground);
  margin: 5%;
  padding: 2%;
  border-radius: 5px;
}

/* styling the Add page boxes */
#question{
    background: var(--navText);
    border: none;
    border-radius: 5px;
    width: 50%;
    padding: 1%;
    margin: 2%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 120%;
    font-family: monospace;
}
/* styling the level select */
#LevelCheck{
    text-align: center;
    list-style: none;
    margin: 2%;
}
.levels{
    color: var(--navText);
    font-size: 120%;
    margin: 2%;
    display: inline;
}
.radio{
    size: 200%;
}

.text{
    text-align: center;
    font-size: 150%;
    color: white;
}
/* styling the submit button */
#submitBtn,
#downloadButton{
    background-color: var(--navHover);
    border-radius: 9px;
    border: none;
    font-size: 150%;
    width: 40%;
    height: 50px;
    margin: 2% 30% 2% 30%;
    text-align: center;
}

/* Styling the questions printed */

#questionBox{
    background-color: #F3F3F3;
    width: 80%;
    border-radius: 5px;
    margin: 0% 10% 0% 10%;
    padding: 4px;
}

.Level{
    background-color: var(--backgroundColor);
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
}

.question{
    background-color: var(--navText);
    padding: 1px;
    margin: 2px;
}

.deleteBtn{
    background-color: var(--navHover);
    border-radius: 9px;
    border: none;
    font-size: 100%;
    width: 20%;
    height: 20px;
    margin: 2% 40% 2% 40%;
    text-align: center;
}
